// Hamburger
// ==================================================
.hamburger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: table;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: $hamburger-hover-transition-duration;
  transition-timing-function: $hamburger-hover-transition-timing-function;
  // Normalize (<button>)
  font-family: "Cantarell", sans-serif;
  color: $black;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  opacity: $hamburger-opacity;
  &:hover {
    @if $hamburger-hover-use-filter==true {
      filter: $hamburger-hover-filter;
    } @else {
      opacity: $hamburger-hover-opacity;
    }
  }
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: cacl(
    calc($hamburger-layer-height * 3) + calc($hamburger-layer-spacing * 2)
  );
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: calc($hamburger-layer-height / -2);
  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background: $background-gradient;
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  &::before,
  &::after {
    content: "";
    display: block;
  }
  &::before {
    top: calc(($hamburger-layer-spacing + $hamburger-layer-height) * -1);
  }
  &::after {
    bottom: calc(($hamburger-layer-spacing + $hamburger-layer-height) * -1);
  }
}

.hamburger-label {
  vertical-align: middle;
  padding-left: 6px;
  color: $blue;
  &.close,
  &.menu {
    display: none;
  }
  &.close.is-active,
  &.menu.is-active {
    display: table-cell;
  }
}
