$mobileFont: 14px;
$desktopFont: 16px;

$white: #fff;
$black: #373a3c;
$blue: #299ad6;
$green: #00cc7b;
$yellow: #f3c244;
$orange: #eb7c38;
$red: #ed4a43;
$teal: #00bc9e;
$darkBlue: #0086cb;
$xtraDarkBlue: #00679e;
$lightBlue: #51aede;
$blueGray: #3b4045;

$iphoneW: 320px;
$iphone4H: 480px;
$iphone5H: 568px;
$ipadW: 768px;
$ipadH: 1024px;