@mixin default {
    background: $white;
    color: $black;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: $mobileFont;
    line-height: 1.75;
    @media screen and (min-width: 992px) {
        font-size: $desktopFont;
    }
}

@mixin navSize($deviceW, $orientation, $navH, $minW: 0px) {
    @if $orientation == 'portrait' {
        @media all and (min-device-width: $minW) and (max-device-width: $deviceW) and (orientation:$orientation)  {  
            height: $navH;
            & .logo > img {
                width: 94px;
                height: 70px;
            }
        }
    } @else if $orientation == 'landscape'{
        @media all and (max-device-width: $deviceW) and (orientation:$orientation)  {  
            height: $navH;
            & .logo > img {
                width: 94px;
                height: 70px;
            }
        }
    } @else {
        height: 100px;
        @media screen and (min-width: $deviceW) {
            height: $navH;
        }
        & .logo > img {
            width: 94px;
            height: 70px;
            @media screen and (min-width: $deviceW) {
                width: 121px;
                height: 90px;
            }
        }
    }
    
}

@mixin bgColor($colors...) {
    @each $color in $colors {
        @if $color == $green {
            &.green {
                background: $green;
                &.inView {
                    z-index: 998;
                    background: linear-gradient(to bottom right, lighten($green, 1%) 10%, $green 95%, darken($green, 1%));
                    box-shadow: 0px 0px 8px -2px darken($green, 50%); 
                }
                &:not(.indicatorPage):hover {
                    z-index: 998;
                    background: linear-gradient(to bottom right, lighten($green, 1%) 10%, $green 95%, darken($green, 1%));
                    box-shadow: 0px 0px 8px -2px darken($green, 50%);
                }
            } 
        } @else if $color == $yellow {
            &.yellow {
                background: $yellow;
                &.inView {
                    z-index: 998;
                    background: linear-gradient(to bottom right, lighten($yellow, 1%) 10%, $yellow 95%, darken($yellow, 1%));
                    box-shadow: 0px 0px 8px -2px darken($yellow, 50%); 
                }
                &:not(.indicatorPage):hover {
                    background: linear-gradient(to bottom right, lighten($yellow, 1%) 10%, $yellow 95%, darken($yellow, 1%));
                    z-index: 998;
                    box-shadow: 0px 0px 8px -2px darken($green, 50%);
                }
            }
        } @else if $color == $orange {
            &.orange {
                background: $orange;
                &.inView {
                    z-index: 998;
                    background: linear-gradient(to bottom right, lighten($orange, 1%) 10%, $orange 95%, darken($orange, 1%));
                    box-shadow: 0px 0px 8px -2px darken($orange, 50%); 
                }
                &:not(.indicatorPage):hover {
                    background: linear-gradient(to bottom right, lighten($orange, 1%) 10%, $orange 95%, darken($orange, 1%));
                    z-index: 998;
                    box-shadow: 0px 0px 8px -2px darken($green, 50%);
                }
            }
        } @else if $color == $red {
            &.red {
                background: $red;
                &.inView {
                    z-index: 998;
                    background: linear-gradient(to bottom right, lighten($red, 1%) 10%, $red 95%, darken($red, 1%));
                    box-shadow: 0px 0px 8px -2px darken($red, 50%); 
                }
                &:not(.indicatorPage):hover {
                    background: linear-gradient(to bottom right, lighten($red, 1%) 10%, $red 95%, darken($red, 1%));
                    z-index: 998;
                    box-shadow: 0px 0px 8px -2px darken($green, 50%);
                }
            }
        } @else if $color == $teal {
            &.teal {
                background: $teal;
                &:hover {
                    background: linear-gradient(to bottom right, lighten($teal, 1%) 10%, $teal 95%, darken($teal, 1%));
                }
            }
        } @else if $color == $blue {
            &.blue {
                background: $blue;
                &:hover {
                    background: linear-gradient(to bottom right, lighten($blue, 1%) 10%, $blue 95%, darken($blue, 1%));
                }
            }
        } @else if $color == $lightBlue {
            &.lightBlue {
                background: $lightBlue;
                &:hover {
                    background: linear-gradient(to bottom right, lighten($lightBlue, 1%) 10%, $lightBlue 95%, darken($lightBlue, 1%));
                }
            }
        } @else if $color == $darkBlue {
            &.darkBlue {
                background: $darkBlue;
                &:hover {
                    background: linear-gradient(to bottom right, lighten($darkBlue, 1%) 10%, $darkBlue 95%, darken($darkBlue, 1%));
                }
            }
        } @else if $color == $xtraDarkBlue {
            &.xtraDarkBlue {
                background: $xtraDarkBlue;
                &:hover {
                    background: linear-gradient(to bottom right, lighten($xtraDarkBlue, 1%) 10%, $xtraDarkBlue 95%, darken($xtraDarkBlue, 1%));
                }
            }
        }
    }
}

@mixin shortShadow($colors...) {
    @each $color in $colors {
        @if $color == $green {
            &.grade-b {
                text-shadow: makeshadow(darken($green, 5%), 'short');
            } 
        } @else if $color == $yellow {
            &.grade-c {
                text-shadow: makeshadow(darken($yellow, 5%), 'short');
            }
        } @else if $color == $orange {
            &.grade-d {
                text-shadow: makeshadow(darken($orange, 5%), 'short');
                
            }
        } @else if $color == $red {
            &.grade-e {
                text-shadow: makeshadow(darken($red, 5%), 'short');
            }
        } @else if $color == $teal {
            &.teal {
                text-shadow: makeshadow(darken($teal, 5%), 'short');
            }
        } @else if $color == $blue {
            &.blue {
                text-shadow: makeshadow(darken($blue, 5%), 'short');
            }
        } @else if $color == $lightBlue {
            &.lightBlue {
                text-shadow: makeshadow(darken($lightBlue, 5%), 'short');
            }
        } @else if $color == $darkBlue {
            &.darkBlue {
                text-shadow: makeshadow(darken($darkBlue, 5%), 'short');
            }
        } @else if $color == $xtraDarkBlue {
            &.xtraDarkBlue {
                text-shadow: makeshadow(darken($xtraDarkBlue, 5%), 'short');
            }
        }
        
    }
}

@mixin longShadow($colors...) {
    @each $color in $colors {
        @if $color == $green {
            &.grade-b {
                    text-shadow: fadeshadow(darken($green, 5%));
                }
            } 
         @else if $color == $yellow {
            &.grade-c {
                    text-shadow: fadeshadow(darken($yellow, 5%));
                }
            }
         @else if $color == $orange {
            &.grade-d {
                    text-shadow: fadeshadow(darken($orange, 5%));
                }
            }
         @else if $color == $red {
            &.grade-e {
                    text-shadow: fadeshadow(darken($red, 5%));
                }
            }
        
    }
}

@mixin titleBg($colors...) {
    @each $color in $colors {
        @if $color == $green {
            &.green {
                    background: darken($green, 2%);
                }
            } 
         @else if $color == $yellow {
            &.yellow {
                    background: darken($yellow, 5%);
                }
            }
         @else if $color == $orange {
            &.orange {
                    background: darken($orange, 5%);
                }
            }
         @else if $color == $red {
            &.red {
                    background: darken($red, 5%);
                }
            }
        
    }
}

@mixin landingHeight($deviceW, $deviceH, $orientation) {
    @if $orientation == 'portrait' {
        @media all and (device-width: $deviceW) and (device-height: $deviceH) and (orientation:$orientation)  {  
            height: $deviceH;
        }
    } @else {
        @media all and (device-width: $deviceW) and (device-height: $deviceH) and (orientation:$orientation)  {  
            height: $deviceW;
        }
    } 
    
}
    
    
@mixin profilePic($members...) {
    @each $member in $members {
        &##{$member} {
            background: url(/media/images/#{$member}.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50%;
            width: 80px;
            height: 80px;
        }
    }
}

@mixin orgLogos($organisations...) {
    @each $organisation in $organisations {
        &##{$organisation} {
            background: url(/media/images/#{$organisation}.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
    
@mixin iconShadow($colors...) {
    @each $color in $colors {
        @if $color == $green {
            &.green {
                    filter: drop-shadow(5px 5px 8px darken($green, 5%));
                }
            } 
         @else if $color == $yellow {
            &.yellow {
                    filter: drop-shadow(5px 5px 8px darken($yellow, 5%));
                }
            }
         @else if $color == $orange {
            &.orange {
                    filter: drop-shadow(5px 5px 8px darken($orange, 5%));
                }
            }
         @else if $color == $red {
            &.red {
                    filter: drop-shadow(5px 5px 8px darken($red, 5%));
                }
            }
        
    }
}    