//Include hamburger.scss for the menu hamburger
@import "hamburgers/_hamburgers.scss";


nav {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 0;
    left: 0;
    background: rgba(255,255,255,.96);
    z-index: 0;
    opacity: 0;
    top: -100%;
    @media screen and (min-width: 800px) {
        padding-top: 80px;
    }
    &.is-active {
        transform: translateY(100%);
        opacity: 1;
        z-index: 999;
        padding-top: 40px;
        & .menuContent > div, & .socialContent > div {
            transform: scale(1) translateY(0);
            opacity: 1;
        }
        & .menuContent > div:nth-child(2) {
            transition-delay: .2s;
        }
        & .socialContent > div {
            transition-delay: .4s;
        }
    }
    & .menuContent {
        padding: 8px 24px 16px;
        overflow: hidden;
        width: 80%;
        margin: 0px auto;
        line-height: 1.3;
        text-transform: uppercase;
        font-family: "Cantarell", sans-serif;
        letter-spacing: 1px;
        text-align: center;
        @media screen and (min-width: 350px) {
            margin: 30px auto;
        }
        & > div {
            opacity: 0;
            transform: scale(.95) translateY(40px);
            transition: transform 250ms cubic-bezier(.39,.575,.565,1),opacity .3s;
        }
        & .column {
            display: block;
            vertical-align: top;
            text-align: center;
            &::before {
                content: " ";
                height: 4px;
                background-color: $blue;
                display: block;
                width: 40px;
                margin: 28px auto;
                border-radius: 4px;
                background: $background-gradient;
            }
        }
        @media screen and (min-width: 800px) {
            & .column {
                display: inline-block;
                text-align: left;
                padding-left: 140px;
                &::before {
                    margin: 14px 0;
                }
            } 
        }
    }
    & a {
        text-decoration: none;
        color: $black;
        display: block;
        padding: 0 0 14px;
        transition: all .3s;
        &:hover {
            color: $blue;
            @include shortShadow($blue);
        }
    }
    & .socialContent {
        position: fixed;
        width: 100%;
        height: 60px;
        text-align: center;
        & > div {
            opacity: 0;
            transform: scale(.95) translateY(40px);
            transition: transform 250ms cubic-bezier(.39,.575,.565,1),opacity .3s;
        }
        @media screen and (min-width: 800px) {
            margin-top: 40px;
        }
        & .social {
            text-decoration: none;
            color: $white;
            display: inline-block;
            width: 75px;
            height: 75px;
            line-height: 75px;
            border-radius: 40px;
            overflow: hidden;
            margin: 0 10px;
            transition: all .15s;
            padding: 0;
        }
        .twitter {
            background: $blue;
            text-shadow: makeshadow(darken($blue, 5%), 'short');
            transition: text-shadow .1s;
            &:hover {
                background: linear-gradient(to bottom right, lighten($blue, 3%) 10%, $blue 90%, darken($blue, 5%));
                text-shadow: makeshadow(darken($blue, 5%));
            }
        }
    }
    
}

.preFooter-nav {
    display: none;
    @media screen and (min-width: 800px) {
        display: block;
        position: relative; 
        & .menuContent {
            overflow: hidden;
            width: 80%;
            margin: 28px auto 0 auto;
            line-height: 1.3;
            text-transform: uppercase;
            font-family: "Cantarell", sans-serif;
            letter-spacing: 1px;
            text-align: center;
            & .column {
                display: block;
                vertical-align: top;
                text-align: center;
                &::before {
                    content: " ";
                    height: 4px;
                    background-color: $blue;
                    display: block;
                    width: 40px;
                    margin: 28px auto;
                    border-radius: 4px;
                    background: $background-gradient;
                }
            }
            @media screen and (min-width: 800px) {
                & .column {
                    display: inline-block;
                    text-align: left;
                    padding-left: 80px;
                    &::before {
                        margin: 14px 0;
                    }
                } 
            }
        }
        & a {
            font-size: 0.8em;
            text-decoration: none;
            color: $black;
            display: block;
            padding: 0 0 14px;
            transition: color .3s;
            &:hover {
                color: $blue;
                @include shortShadow($blue);
            }
        }
    }    
}


