@import "../styles/_variables.scss";

.root {
  display: flex;
  justify-content: center;
  margin: 10vh 0px;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
  padding: 16px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;

  & ol {
    max-width: 640px;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}

.close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $blue;
  font-size: $mobileFont;
}
